.container {
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-radius: 2px;
    border-color: '#ddd';
    border-bottom-width: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px #000;
}