.feed-section {
    background-color: gray;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        outline: none;
    }

    .create-section {
        min-height: 60%;
        width: 60%;
        overflow: auto;
        border-radius: 10px;
        padding: 20px;
        position: relative;

        .header {
            font-size: 45.83px;
            font-style: bold;
            color: #000;
            font-family: "Arial, Helvetica", serif;
        }

        .sub-header {
            text-align: justify;
            font-size: 23px;
            color: #8fffee;
            margin-top: 20px;
        }
    }
}
